
.form-container {
    width: 90%;
    margin: auto;
}

.icon-toggle-visibility {
    display: inline !important;
    margin-right: 15px !important;
}

.icon-generate-password {
    display: inline !important;
}