<div class="form-container container-fluid">
    <mat-form-field appearance="standard" class="reveal-field col-xs-12 col-sm-12 col-md-6">
        <mat-label>Title</mat-label>
        <input test-id="entry-form-title" matInput [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field appearance="standard" class="reveal-field col-xs-12 col-sm-12 col-md-6">
        <mat-label>Username</mat-label>
        <input test-id="entry-form-username" matInput [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field appearance="standard" class="reveal-field col-xs-12 col-sm-12 col-md-6">
        <mat-label>Password</mat-label>
        <input test-id="entry-form-password" matInput [(ngModel)]="password" [type]="passwordInputType" autocorrect="off" autocapitalize="none">
        <mat-icon test-id="entry-form-toggle-password" matSuffix (click)="togglePasswordVisibility()"
            class="icon-toggle-visibility">visibility</mat-icon>
        <mat-icon test-id="generate" matSuffix (click)="openGenerate()"
            class="icon-generate-password csstooltip"
            data-tooltip-title="Generate new password"
            data-tooltip-left="30px">https autorenew</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard" class="reveal-field col-xs-12 col-sm-12 col-md-6">
        <mat-label>URL</mat-label>
        <input test-id="entry-form-url" matInput [(ngModel)]="url" placeholder="https://some-website.net" autocorrect="off" autocapitalize="none">
    </mat-form-field>
    <!-- pedro-arruda-moreira: changed client/secure notes -->
    <mat-form-field appearance="standard" class="reveal-field col-xs-12">
        <mat-label>Secure Notes</mat-label>
        <textarea test-id="secure-notes" matInput [(ngModel)]="secureNotes"
            placeholder="Some notes about this" autocorrect="off"
            rows="4"></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
    <button test-id="entry-form-save" mat-raised-button color="primary" (click)="onSubmit()"
        class="col-xs-12">Save</button>
    <button *ngIf="showDelete" test-id="entry-form-save" mat-raised-button color="warn" (click)="onDelete()"
        class="col-xs-12">Delete</button>
</div>

