<h2 mat-dialog-title>Please confirm your master password</h2>
<mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input [type]="passwordInputType" test-id="password-input"
        (keyup)="onKeyUp(password.value, $event.keyCode);" matInput #password/>
    <mat-icon test-id="entry-form-toggle-password" matSuffix (click)="togglePasswordVisibility()"
        class="icon-toggle-visibility">visibility</mat-icon>
</mat-form-field>
<button test-id="entry-form-save" mat-raised-button color="primary" mat-dialog-close
    (click)="resolve(password.value)">Ok</button>
<button test-id="entry-form-save" mat-raised-button color="warn" mat-dialog-close
    (click)="reject()">Cancel</button>