<!--
  - pedro-arruda-moreira: desktop mode.
-->
<div class="container-fluid">
    <div *ngFor="let item of items" (click)="onItemClick(item.id)"
        class="item-container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="mobile-container" *ngIf="mobile; else desktop">
                <span>{{ item.title }}</span>
                <span>{{ item.user }}@<strong>{{ item.host }}</strong></span>
                <span><mat-icon test-id="copy-action"
                    aria-hidden="false" aria-label="Add"
                    inline (click)="onUsePassword($event, item.password)">file_copy</mat-icon></span>
            </div>
            <ng-template #desktop>
                <div class="desktop-container">
                    <div><b>{{ item.title }}</b></div>
                    <div>Username: {{ item.user }}</div>
                    <div>Host: {{ item.host }}</div>
                    <div>
                        <a href="javascript://" (click)="onUsePassword($event, item.password)"
                            test-id="copy-action-desktop">Copy Password
                            <mat-icon aria-hidden="false"
                                aria-label="Add" inline>file_copy</mat-icon>
                        </a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>