.item-container {
    cursor: pointer;
}

.default-container {
    background-color: darkslategray;
    border-radius: 6px;
    margin: 4px;
    padding-left: 5px;
}
.password-button {
    margin-left: 20px;
}