<!--
  - pedro-arruda-moreira: desktop mode.
-->
<div class="container-fluid items-list">
    <div *ngFor="let item of items" (click)="onItemClick(item.id)"
        class="item-container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="default-container">
                <div><b>{{ item.title }}</b></div>
                <div>Username: {{ item.user }}</div>
                <div>Host: {{ item.host }}</div>
                <div>
                    <a href="javascript://" (click)="sendToClipboard($event, item.user, 'Username')"
                        test-id="copy-action-username">Copy Username
                        <mat-icon aria-hidden="false"
                            aria-label="Add" inline>file_copy</mat-icon>
                    </a>
                    <a href="javascript://" (click)="sendToClipboard($event, item.password, 'Password')"
                        class="password-button"
                        test-id="copy-action-password">Copy Password
                        <mat-icon aria-hidden="false"
                            aria-label="Add" inline>file_copy</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>