.item-container {
    cursor: pointer;
}

.mobile-container {
    display: flex;
    justify-content: space-between;
}

.desktop-container {
    background-color: darkslategray;
    border-radius: 6px;
    margin: 4px;
    padding-left: 5px;
}