<h2 mat-dialog-title>Generate new password</h2>
<div class="container-fluid">
    <mat-form-field appearance="standard" class="col-xs-12">
        <mat-label>Password</mat-label>
        <input type="text" readonly="readonly" test-id="password" matInput [(ngModel)]="password"/>
        <mat-icon test-id="re-generate" matSuffix (click)="generatePassword()"
            class="icon-generate-password csstooltip"
            >autorenew<span class="tooltiptext">Re-generate</span></mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard" class="col-xs-12">
        <mat-label>Length</mat-label>
        <input type="number" test-id="password-length"
            [(ngModel)]="length"
            (keyup)="generatePassword()"
            (change)="generatePassword()" matInput/>
    </mat-form-field>
    <div class="col-xs-12">
        <label id="label-type">Type</label>
        <mat-radio-group aria-label="Select password type" class="radio-group" [(ngModel)]="type"
            aria-labelledby="label-type" (change)="generatePassword()">
            <mat-radio-button value="1" class="radio-button">Standard</mat-radio-button>
            <mat-radio-button value="2" class="radio-button">Memorable</mat-radio-button>
            <mat-radio-button value="3" class="radio-button">All characters</mat-radio-button>
        </mat-radio-group>
    </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button test-id="button-ok" mat-raised-button color="primary" mat-dialog-close
        (click)="resolve()">Ok</button>
    <button test-id="nutton-cancel" mat-raised-button color="warn" mat-dialog-close
        (click)="reject()">Cancel</button>
</mat-dialog-actions>