  body {
    background-image: url('assets/background-sd.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-color: #0f384f;
  }
  .loading-placeholder {
    color: #fafafa;
    opacity: 0.5;
    font-family: sans-serif;
  }
  .title {
    text-align: center;
  }
  .loading-container {
    padding-top: 25vh;
  }
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }
  .loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }

  /* tooltip */
  .csstooltip:before {
    content: attr(data-tooltip-title);
    background-color: #000;
    color: #FFF;
    font-size: 13px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Roboto";
    position: absolute;
    left: 30px;
    bottom: -50px;
    width: 250px;
    opacity: 0;
    transition: all .4s ease;
    display: none;
    visibility: hidden;
  }
  .csstooltip:after {
    content: "";
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    left: 30px;
    margin-left: 5px;
    bottom: -16px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #000 transparent;
    transition: all .4s ease;
    display: none;
    visibility: hidden;
  }
  .csstooltip:hover:after,
  .csstooltip:hover:before {
    opacity: 1;
    display: block;
    visibility: visible;
  }